@font-face {
    font-family: 'montserrat-bold';
    src: url('fonts/montserrat-bold.otf') format('otf'),
         url('fonts/montserrat-bold.ttf') format('ttf'),
    font-weight: normal;
    font-style: normal;
}

/* Применение шрифта на странице */
body {
    font-family: 'montserrat-bold', sans-serif;
    background: url('../img/background.jpg') no-repeat center center fixed;
    background-size: cover; /* Подгоняет изображение по размеру экрана */
  }

.category-card {
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 0px 16px 16px rgba(0, 0, 0, 0.1);
    margin-bottom: 16px;
}
.maf_link {
    max-width: 132px;
    margin-right: 8px;
    position: relative;
}
.gallery img {
    width: 128px;
    height: 128px;
    object-fit: contain;
    border: 1px solid #ccc;
    border-radius: 32px 32px 32px 16px;
    background-color: #fff;
    padding: 16px 16px 32px;
}

.model-name {
    text-align: center;
    font-size: 14px;
    display: block;
    position: absolute;
    bottom: 4px;
    left: 12%;
}

.search-results {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: flex-start;
    margin-top: 20px;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.search-container label {
    margin-right: 10px;
    font-weight: bold;
}

.search-input {
    position: relative;
    width: 64%;
}

.search-input input {
    width: 100%;
    height: 36px;
    border-radius: 12px;
}

.search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.search-input, label,h1,h5, .model-name {
    font-family: "montserrat-bold", sans-serif;
    font-weight: 800;
    font-style: normal;
    text-transform: uppercase;
}
a {
    text-decoration: none;
    color: #000!important;
}
.search-results {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: flex-start;
    margin-top: 16px;
    margin-bottom: 16px;
}
.search-results a {
    text-decoration: none;
    width: 128px;
    border: 1px solid transparent;
    border-radius: 8px;
    display: block;
    font-size: 14px;
    background-color: #fff;
    color: #000;
}
.search-results img {
    border-radius: 8px;
    padding: 8px 8px 32px;
    width: 128px;
    height: 128px;
    object-fit: contain;
}
input {
    border: none; /* Убирает обводку */
    outline: none; /* Убирает обводку при фокусировке */
    background: transparent; /* Убирает фон */
    box-shadow: none; /* Убирает тень при фокусировке */
}

/* Если нужно, чтобы эффекты при наведении тоже исчезли */
input:hover, input:focus {
    border-color: transparent!important;
    box-shadow: 0 0 16px 0rem rgb(17 61 127 / 46%)!important;
}

.flex-none {
    flex: auto!important;
}

.gallery {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0s 0.5s; /* Плавная анимация */
}

.gallery.open {
    display: flex;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease, visibility 0s 0s; /* Отменяем задержку */
    margin-bottom: 16px;
}

#searchResults {
    display: none; /* Изначально скрыто */
    /*position: absolute;*/
    background-color: #fff;
    width: 100%;
    /*z-index: 9999;*/
    /*border: 1px solid #ccc;*/
    border-radius: 16px;
    max-height: 200px;
    overflow-y: auto;
}
.card-title {
    margin-bottom: 0!important;
}
.footer {
    height: 48%;
    background-color: #000;
    position: absolute;
    top: 0;
    right: 0;
    width: 58px;
    border-radius: 0 0 0 32px;
}
.footer_mobile {
    height: 64px;
    background-color: #000;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 16px 16px 0 0;
}
.logo_1 {
    width: 52px;
    padding-top: 16px;
    padding-left: 8px;
}
.logo_2 {
    width: 64px;
    padding-top: 12px;
    padding-left: 16px;
}

@media (min-width: 576px) {
    .container, .container-sm {
        max-width: 480px;
    }
}

@media (min-width: 768px) {
    .container, .container-md, .container-sm {
        max-width: 640px;
    }
}

@media (min-width: 992px) {
    .container, .container-lg, .container-md, .container-sm {
        max-width: 860px;
    }
}
